* {  
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@mixin box-shadow{
    box-shadow: 1px 2px 5px #cecdcd;
}

// color properties
$cello:#34495e;
$white: #ffffff;
$light-blue: #5bc0de;
$dark-grey: #a7a5a5;
$grey: #888888;
$light: #f1eded;
$orange: #ff9c00;
$lighter-grey: #8d8c8c;
$light-grey: #d6d5d5;
$dark-orange: #d17905;
$red: #f05b4f;
$light-green: #59922b;
$purple: #7b1fa2;
$dark-red: #d70206;
$blue: #3c61ac;

//font size
$font-size: 12px;