*{    
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;    
}

/* header area starts */
.header{   
    background-color: rgb(232, 232, 233);
    box-shadow: 4px 1px 6px #888888;
    height: 70px;
    margin-bottom: 20px;
    width: 100%;
}
.logo{    
    display: inline;
    width: 25%;
}
.logo a img{
    height: 40px;
    margin: 10px 0 0 35px;   
    width: 160px;
}
.user{
    display: inline;
    float: right;
    width: 70%;
}
.user-details{
    float: right;
    text-align: right;
    width: 22%;
    margin-top: 9px;
}

.user-detail{    
    float: left;    
    margin-left: 10px;
    text-align: left;
    width: 60%;
   
}
.user-details a{
    
    background-color:#34495e;
    border-radius: 100%;
    color: #ffffff;      
    float: left;
    margin-top: 10px;
    padding: 10px 15px; 
}
.user-detail{
    color:#34495e;
    margin-top: 10px;
}
.user-name{
    display: block;
    font-size: 17px;
    font-weight: 500;    
}
.membership{
    font-size: 12px;
}

/* main-section starts*/
.main-section{
    /* border: 1px solid yellow; */
    float: left;
    height: 100vh;
    width: 100%;    
}
.sidebar-nav{   
    display: inline;
    float: left;
    width: 23%;
}

.navigation{
    float: left; 
    margin-top: 20px;    
}
.list-item{
    padding: 10px 0;
}
.list-item:hover{
    background-color: #dad8d8;
    padding: 10px 0;
}
.navigation li{
    display: inline;
    font-size: 16px;
}
.nav-list{
    margin: 20px 0;
}
.nav-icon{
    padding: 6px 5px;
    position: relative;
    margin-left: 25px;
    margin-top: 2px;    
}
.nav-item a{
    color: #2c2c2c;
}
.active-link a{
    font-weight: 600;
}
.active-nav-icon::before{
    background-color: #56b596;
    content: '';
    height: 40px;
    left: -20px;
    position: absolute;
    top: -5px;
    width: 5px;    
}
.nav-sub{
    position: relative;
}
.nav-sub::before{
    background-color: #a7a5a5;
    content: '';
    height: 2px;
    left: 25px;
    position: absolute;
    top: 45px;
    width: 200px;
}
.organization-list{
    margin-left: 20px;
    padding: 10px 0 0 0;   
}
.nav-item-head{
    position: relative;
}
.nav-item-head a{
    color: #888888;
    padding: 20px 0 !important;
}
.badge{   
    background-color: #5bc0de;
    border-radius: 6px;
    color: #ffffff;
    margin: 0px 20px;
    padding: 2px 15px;
}
.navbar:hover i{
    color: #a7a5a5;
    cursor: pointer;
}
.fa-reorder{
    font-size: 34px !important;
    margin-left: 20px !important
}
.navbar{
    display: none;
}


/* main-content-section starts */
.main-content-section{
    display: inline;
    float: left;
    width: 77%;    
}
.acme-feed-section{
    display: inline;
    float: left;
    margin: 16px 10px;
    width: 52%;   
}

.piechart-section{
    display: inline;
    float: left;
    width: 44%;   
}
.acme-head span{
    font-size: 19px;
}
.acme-head span i{
    font-size: 24px;
    margin: 0px 0px 15px 10px;
}
.last-seen i{
    font-size: 10px ;
    float: right;
    font-weight: 200 !important;
}
.fa-clock-o{
    font-size:12px !important;
}
.last-seen p{
    float: right;
    font-size: 12px;
    margin-top: -10px;
    text-align: right;
    width: 100%;  
}
.last-seen p i{
    font-size: 12px;
    margin-top: 4px;
}
.actions-detail{    
    border: 1px solid #dfdede;
    box-shadow: 1px 2px 5px #cecdcd;
    float: left;
    margin-top: 20px;
    padding: 0px 10px;
    width: 100%;   
}
.action-confirm{
    display: inline;
    font-size: 18px;
    float: left;
    margin-top: 20px;
    width: 60%;
}
.action-icon i{
    border: 1px solid #d1d0d0;
    border-radius: 50%;
    margin-right: 10px;
    padding: 14px 12px;  
}
.tag-event{  
    color: #657786;
    font-size: 12px;
    margin-left: 20%;
    margin-top: -10px;
    
}
.confirm{
    color: #5bc0de;
}
.fa-clone{
    color: #ff9c00;
    font-size: 18px !important;
    margin-left: 10px;
}
.fa-clone sup{   
    background-color: #ff9c00;
    border-radius: 50%;
    color: #ffffff;   
    font-size: 12px;
    padding: 1px 6px;
}
.action-last-seen{
    display: inline;    
    color: #8d8c8c;
    font-size: 13px;
    float: right;
    margin-top: 40px;
    
}
.acme-feed-section p{
    color: #424242;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}
.action-content{
    display: block;
    float: left;
    margin-top: 20px;
    width: 100%;  
}
.action-content img{
    height: 250px;
    width: 100%;    
}
.action-content p.time-detail{   
    color: #888888;
    font-size: 14px;
    padding: 10px 0;
}
.action-content p.time-detail span{
    color: #5da8e0;
}
.location-details{    
    float: left;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
.location-details::before{
    background-color: #d6d5d5;
    content: '';
    height: 1px;
    position: absolute;
    top: -3px;
    width: 100%;   
}

.location-details::after{
    background-color: #d6d5d5;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 45px;
    width: 100%;    
}
.location-list li.location-list-item{
    float: left;
    margin: 0 10px;
}
.location-list-item{
    border-right: 1px solid #c4c2c2;
    line-height: 2em;
}
.location-list-item:nth-child(4){
    border-right: none;
}
.location-list-item span{
    color: #4b99d4;
    padding-right: 10px;
}
.location-list-item span i{
    color: #89949b;
    font-size: 1.5em;
    margin-right: 6px;
}

/* pie-chart section */
.chart-one{
    box-shadow: 1px 2px 5px #cecdcd;
    color: #8d8c8c; 
    font-size: 15px;   
    float: left;
    margin: 20px 40px;      
}
.piechart-section p{    
    color: #8d8c8c; 
    float: left;
    font-size: 15px;
    margin: 20px 40px;   
}
.chart-one img{
    margin-top: 20px;
    width: 100%;    
}
.action-details{  
    float: left;    
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
.action-details li{    
    margin: auto;
    width: 70%;
}
.action-name i{
    float: left;
}
.percent-action{
    color: #3c61ac;
    float: right;
}
.action-name i span{
    color: #535353;
    font-size: 15px;
}
.action-name i.check{
    color: #ff9c00;
    font-size: 20px;
}
.action-name i.inspect{
    color: #d17905;
    font-size: 20px;
}
.action-name i.hand{
    color: #f05b4f;
    font-size: 20px;
}
.action-name i.group{
    color: #59922b;
    font-size: 20px;
}
.action-name i.ungroup{
    color: #7b1fa2;
    font-size: 20px;
}
.action-name i.start{
    color: #d70206;
    font-size: 20px;
}
.action-name i.stop{
    color: #453d3f;
    font-size: 20px;
}
.action-name i.record{
    color: #88a2df;
    font-size: 20px;
}




/* media query */
@media screen and (max-width: 1024px){
    .user-details{
        width: 24%;
    }
    .action-confirm {
        display: inline;
        font-size: 13px;
    }
    .location-list li.location-list-item {
        margin: 0px 4px;
    }
    .location-list-item span {
        font-size: 12px;
    }
    .action-name i span{
        font-size: 13px;
    }
    .percent-action {
        font-size: 13px;
        margin-top: 2px;
    }
}
@media screen and (max-width: 768px){
    .user-details{        
        margin-top: 5px;
        width: 31%;
    }
    .logo{        
        display: inline;
        width: 20%;
    }
    .logo a img{
        height: 50px;
        margin: 10px 0 0 20px;       
        width: 150px;
    }

    .nav-sub::before {
        width: 145px;
    }
    .badge{
        margin: 0px 9px;
        padding: 2px 8px;
    }
    .navigation li{
        font-size: 14px;
    }
    .acme-feed-section{
        display: block;
        margin: 16px 0px;
        padding: 0px 12px;
        width: 100%;        
    }
    .piechart-section{
        width: 100%;
    }
    .chart-one{
        display: inline;
        width: 50%;        
    }
    .location-list-item span{
        font-size: 14px;
        padding: 0px 18px;
    }
}
@media screen and (max-width: 425px){
    .header{
        height: 60px;
    }
    .logo{
        display: inline;
        width: 10%;       
    }
    .logo a img{
        margin: 15px 0 0 10px;
        height: 30px;
        width: 80px;
    }
    .user-details{
        float: right;
        font-size: 13px;
        text-align: right;
        width: 60%;        
    }
    .user-detail p{
        font-size: 12px;
    }
    .sidebar-nav{        
        display: block;
        width: 100%;
    }
    .navigation div{
        display: none;
        margin: 10px 0px;
        padding: 0px;        
    }
    .active-nav-icon::before{
        visibility: hidden;
    }
    .nav-sub::before{
        display: none;
    }
    .nav-item-head a{
        margin: 0px 24px
    }
    .sidebar-nav{
        background-color: #f1eded;
    }
    .navbar{
        display: block;
        float: left;        
    }
    .navbar:hover + .navigation div{
        cursor: pointer;
        display: block !important;       
    }
    .main-content-section{
        display: block;
        width: 100%;
    }
    .last-seen p i{
        margin-top: 1px;
    }
    .acme-feed-section{
        display: block;
        margin: 16px 0px;
        padding: 0px 12px;
        width: 100%;        
    }
    .piechart-section{
        display: block;
        width: 100%;
    }
    .chart-one{
        margin: 0;
        width: 100%;        
    }
    .acme-head span{
        font-size: 15px
    }
    .acme-head span i {
        font-size: 20px;
    }
    .action-icon i {
        padding: 9px 7px;
    }
    .action-confirm{
        font-size: 12px;
    }
    .fa-clone{
        font-size: 14px !important;
    }
    .fa-clone sup {       
        font-size: 8px;
        padding: 1px 4px;
    }
    .acme-feed-section p{
        font-size: 12px;
    }
    .location-list-item span{
        font-size: 13px;
        padding:0px 5px;
    }
    .location-list-item span i{
        font-size: 13px !important
    }
    .fa-sticky-note{       
        height: 34px !important;
        width: 33px !important;
    }
    .location-list li.location-list-item{
        margin: 0px 2px;
    }
        
}
@media screen and (max-width: 375px){
    .user-details a{
        padding: 7px 11px;
    }
    .user-detail p {
        font-size: 11px;
    }
    .action-confirm {
        font-size: 11px;
    }
    .tag-event {
        font-size: 9px;
        margin-left: 58px;
        margin-top: -7px;
    }
    .action-icon i {
        padding: 5px 3px;
    }
    .action-last-seen{
        font-size: 10px;
        margin-top: 25px
    }
    .action-content p.time-detail {
        font-size: 11px;
        padding: 6px 0;
    }
    .location-list-item span {
        font-size: 12px;
        padding-right: 0px;
    }
    .location-list-item{
        border: none;
    }
    .fa-clone{
        display: block !important;
        margin-left: 26px !important;
        margin-top: 6px;
    }
}
@media screen and (max-width: 320px){
    .fa-clone {
        margin-left: -5px;
    }
    .location-list-item span {
        font-size: 11px;
    }
}